In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime, date


from sklearn.preprocessing import StandardScaler

In [2]:
%matplotlib inline

test = pd.read_csv('test.csv')
item_categories = pd.read_csv('item_categories.csv')
shops = pd.read_csv('shops.csv')
train = pd.read_csv('sales_train.csv', parse_dates=['date'])

In [3]:
items=pd.read_csv('items.csv')

In [4]:
import os

os.makedirs('tmp', exist_ok=True)
train.to_feather('train-raw')
test.to_feather('test-raw')
items.to_feather('items-raw')

In [5]:
train.head()

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-02-01               0       59    22154      999.00           1.0
1 2013-03-01               0       25     2552      899.00           1.0
2 2013-05-01               0       25     2552      899.00          -1.0
3 2013-06-01               0       25     2554     1709.05           1.0
4 2013-01-15               0       25     2555     1099.00           1.0

In [6]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [7]:
train['year']=train.date.dt.year

In [9]:
train['month']=train.date.dt.month
train['week']=train.date.dt.week
train['dow']=train.date.dt.dayofweek

In [ ]:
train['quarter']=train.date.dt.quarter
train['is_month_start']=train.date.dt.month